@model Procurement.Models.EmployeeBelonging

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeBelonging</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFullName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAffiliationOrganizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAffiliationOrganizationCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAffiliationOrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAffiliationOrganizationName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAffiliationUpperOrganizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAffiliationUpperOrganizationCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAffiliationUpperOrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAffiliationUpperOrganizationName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeJobTitleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeJobTitleCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeHandJobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeHandJobTitle)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTargetEmployeeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTargetEmployeeCode)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTargetEmployeeFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTargetEmployeeFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
